body {
  background-image: url(LightBackground.jpg);
  text-align: center;
  color: white;
  text-shadow: 4px 3px 4px rgb(169, 216, 255);
  font-size: 34px;
  font-family: fantasy;
}

canvas {
  background: url(BobaBackground.jpg);
  background-size: cover;
  border: 7px solid rgb(63, 63, 134);
}

.left {
  float: left;
  font-family: sans-serif;
  font-size: 18px;
}
